@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 39 39 42;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex justify-center h-12 w-12 mt-2 mb-2 mx-auto pt-2
            bg-gray-800 text-red-500
            hover:bg-red-600 hover:text-white
            rounded-3xl hover:rounded-xl
            transition-all duration-300;
  }
  
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 -bottom-0.5 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }
}
